@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Open+Sans:wght@300;700&family=Roboto:wght@100&family=Staatliches&display=swap");

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #e3c8c1;
  --secondary: #d38975;
  --tertiary: #df9884;
  --light: #dbb7ac;
  --dark: #e3c8c1;
  --darker: #3d2816;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  max-width: 100%;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--dar);
  font-family: "Assistant", sans-serif;
}

.slide {
  display: flex;
  align-items: center;
}

.carousel-caption {
  position: initial;
  color: black;
}

.projectsCards {
  overflow: auto;
  margin-right: 10px;
}
.contactPage {
  overflow: none;
}

.socialList {
  height: 90%;
}
.resumeText {
  margin-bottom: 20rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: #5e7364;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  margin-top: 0;
}

a {
  color: rgb(209, 205, 205);
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 2rem;
  margin-left: 2rem;
  width: 100%;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  max-height: 100vh;
  width: 100%;
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: auto;
  /* padding: 0; */
  padding-bottom: 120px;
  overflow: auto;
}
.aboutPage {
  overflow: auto;
}
.aboutText {
  overflow: auto;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 30%;
  margin-right: 25px;
  /* text-align: center; */
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

.btn {
  align-content: center;
}

a {
  color: #5e7364;
  padding-left: 1rem;
}

.navActive {
  color: var(--secondary);
}

.row {
  padding: 1rem;
}
.profile-picture {
  max-width: 400px;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
}

.page-container {
  position: relative;
  max-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}

.contact {
  padding: 10rem;
}
footer {
  position: fixed;
  background-color: white;
  padding: 0;
  padding-top: 10px; 
  z-index: 2;
  text-align: center;
  left: auto;
  bottom: 0px;
  height: auto;
  width: 100%; 
  /* margin-top: 60px; */
}

footer h4 {
  font-size: 2vw;
  font-weight: lighter;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

footer p {
  color: var(--darker);
  text-align: center;
  justify-content: center;
}
img.my-2 {
  width: 100%;
}
/* .media img {
    width: 15%;
  } */
/* @media (min-width: 900px) {
  
  img.my-2 {
    width: 50%;
  }
  .row {
    display: contents;
    justify-content: center;
  }
  p {
    width: 75%;
  }
  .slide {
    display: flex;
    align-items: center;
  }
  .carousel-caption {
    position: initial;
    color: black;
  }

  .contact {
    padding: 1rem;
  }
} */

/* @media (min-width: 770px) {
  .media img {
    width: 25%;
  }
  
  p {
    font-size: 1rem;
    margin-top: 0;
  }
} */

/* @media (min-width: 576px) {
  .media img {
    width: 5%;
  }
  p {
    font-size: 1rem;
    margin-top: 0;
  }
} */

@media (max-width: 746px) {
  .my-2 {
    width: 90%;
  }
  /* .aboutText {
display: flex;
flex-direction: column;
  } */
  .aboutPage {
    display: flex;
    flex-direction: row;
    overflow: auto;
  
  }
  .aboutText {
    /* margin-bottom: 5px; */
    padding-bottom: 5px;
  }

}
